# pycache
__pycache__/
.env
.ruff_cache/
.pytest_cache/
.DS_Store
*.pyc
dist/
build/
*.egg-info/

#venv
*.venv

#ruff_cache
*.ruff_cache

#env
*.env

#logs
logs/
*.log

# csv
*.csv

#openmeteo cache
/.cache.sqlite

#pg backups
*.gz

# vscode
.vscode
